name: CC-NG Test

on:
  workflow_dispatch:
  
jobs:
  Setup-Cloud-Controller-NG:
    runs-on: ubuntu-latest
    timeout-minutes: 120
    steps:
    - uses: hmarr/debug-action@v3
    - uses: actions/checkout@v6
      with:
        repository: cloudfoundry/cloud_controller_ng
        path: cloud_controller_ng
    - uses: ./cloud_controller_ng/.github/workflows/composite/setup
      with:
        WORKING_DIRECTORY: cloud_controller_ng
    - uses: masa-iwasaki/setup-rbenv@v1
    - run: cp -r cloud_controller_ng /tmp/
    - uses: hoverkraft-tech/compose-action@05da55b2bb8a5a759d1c4732095044bd9018c050
      with:
        cwd: cloud_controller_ng
        services: |
           postgres
           uaa
           diego-api
           mockserver
           loggregator-metron
           minio
           catsbroker
           nginx
    - run: .devcontainer/images/devcontainer/setup.sh

        
