name: CC-NG Test

on:
  workflow_dispatch:
  
jobs:
  Setup-Cloud-Controller-NG:
    runs-on: ubuntu-latest
    timeout-minutes: 120
    steps:
    - name: test yq
      run: yq --version
    - uses: hmarr/debug-action@v3
    - uses: actions/checkout@v6
      with:
        repository: cloudfoundry/cloud_controller_ng
        path: cloud_controller_ng
    - uses: ./cloud_controller_ng/.github/workflows/composite/setup
      with:
        WORKING_DIRECTORY: cloud_controller_ng
    - uses: hoverkraft-tech/compose-action@05da55b2bb8a5a759d1c4732095044bd9018c050
      with:
        cwd: cloud_controller_ng
        services: |
           postgres
           mysql
           uaa
           diego-api
           mockserver
           loggregator-metron
           minio
           catsbroker
           nginx
    - name: Setup cf-uaac
      run: gem install cf-uaac
    - name: Install clients
      run: |
         set -x
         PACKAGES="cf8-cli postgresql-client postgresql-client-common mariadb-client"
         wget -q -O - https://packages.cloudfoundry.org/debian/cli.cloudfoundry.org.key | sudo apt-key add -
         echo "deb https://packages.cloudfoundry.org/debian stable main" | sudo tee /etc/apt/sources.list.d/cloudfoundry-cli.list
         sudo apt-get update
         export DEBIAN_FRONTEND="noninteractive" && echo 'debconf debconf/frontend select Noninteractive' | sudo debconf-set-selections
         sudo apt-get install -o Dpkg::Options::="--force-overwrite" $PACKAGES -y
         cf --help
    - name: Setup DB stuff
      continue-on-error: true
      run: |
        sudo chmod -R 777 cloud_controller_ng
        cd cloud_controller_ng
        #sed '/setupMariadb || tee tmp\/fail &/d' .devcontainer/scripts/setupDevelopmentEnvironment.sh > .devcontainer/scripts/setupDevelopmentEnvironment1.sh
        #chmod 777 .devcontainer/scripts/setupDevelopmentEnvironment1.sh
        .devcontainer/scripts/setupDevelopmentEnvironment.sh
    - name: Setup credhub cli
      continue-on-error: true
      run: |
            wget "$(curl -s https://api.github.com/repos/cloudfoundry/credhub-cli/releases/latest |
            jq -r '.assets[] | select(.name|match("credhub-linux.*")) | .browser_download_url')" -O /tmp/credhub.tar.gz
            tar -xzf /tmp/credhub.tar.gz 
            echo -----
            ls /tmp
            echo ----
            sudo rm -f /tmp/credhub.tar.gz && sudo mv credhub /usr/bin
            credhub --version
    - name: UAAC Init
      continue-on-error: true
      run: |
          uaac target http://localhost:8080
          uaac token client get admin -s "adminsecret"
    - name: Start cc api
      continue-on-error: true
      run: |
         cd cloud_controller_ng
         DB_CONNECTION_STRING=mysql2://root:supersecret@127.0.0.1:3306/ccdb ./bin/cloud_controller -c ./tmp/cloud_controller.yml
         sleep 30
         DB_CONNECTION_STRING=mysql2://root:supersecret@127.0.0.1:3306/ccdb CLOUD_CONTROLLER_NG_CONFIG=./tmp/cloud_controller.yml bundle exec rake jobs:local
         sleep 30
         DB_CONNECTION_STRING=mysql2://root:supersecret@127.0.0.1:3306/ccdb CLOUD_CONTROLLER_NG_CONFIG=./tmp/cloud_controller.yml bundle exec rake clock:start
    - name: Check with cf
      run: |
        cf api http://localhost
        cf login -u ccadmin -p secret
        
         
    
         
         

        
