name: CC-NG Test

on:
  workflow_dispatch:
  
jobs:
  Setup-Cloud-Controller-NG:
    runs-on: ubuntu-latest
    timeout-minutes: 120
    services:
      postgres:
        image: "postgres:15"
        env:
          POSTGRES_PASSWORD: rootpassword
        options: >-
          --tmpfs /var/lib/postgresql/data:rw,size=2g
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432
    steps:
    - uses: hmarr/debug-action@v3
    - uses: actions/checkout@v6
      with:
        repository: cloudfoundry/cloud_controller_ng
        path: cloud_controller_ng
    - uses: ./cloud_controller_ng/.github/workflows/composite/setup
      with:
        WORKING_DIRECTORY: cloud_controller_ng
    - run: .devcontainer/images/devcontainer/setup.sh
      working-directory: cloud_controller_ng

        
