name: Parallel steps action test

on:
  workflow_dispatch:
  
jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: qoomon/actions--parallel-steps@v1
        id: parallel-steps
        with:
          # defaults: # see https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions#defaults
          steps: |
            - run: echo Step0
            - uses: actions/checkout@v4
              id: checkout
            - uses: actions/github-script@v7
              id: greetings
              needs: [ checkout ]
              with:
                script: |
                  const recipient = 'world'
                  console.log(`Hello ${recipient}!`)
                  core.setOutput('recipient', recipient)

      # access parallel steps outputs            
      - run: echo Hello $RECIPIENT
        env:
          RECIPIENT: ${{ steps.parallel-steps.outputs.greetings--recipient }}



